# OS
.DS_Store

# Editor / IDE
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/settings.json
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# Yarn
.yarn/
!.yarn/releases
